/* =========================
   MAIN CONTAINER
========================= */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background: var(--bg-light);
}

/* =========================
   LEFT SIDE (INFO)
========================= */

.contact-info {
  background: var(--white);
  color: var(--text-dark);
  padding: 50px 40px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  animation: fadeInUp 0.4s ease;
  border-radius: 15px;

}

.contact-sub {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
  font-size: 14px;
}

.contact-info h2 {
  margin: 10px 0 30px;
  font-weight: 700;
}

/* Info boxes */

.info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.info-box span {
  font-size: 20px;
  margin-right:25px;
  background: var(--primary-green);
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  width: 50px;

}

.info-box h4 {
  margin: 0;
  font-size: 16px;
}

.info-box p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.95;
}

/* Map */

.map-box {
  margin-top: 25px;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid rgba(255,255,255,0.2);
}

/* =========================
   RIGHT SIDE (FORM)
========================= */

.contact-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: var(--bg-light);
}

.contact-form-box form {
  background: var(--white);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  animation: fadeInUp 0.4s ease;
}

.contact-form-box h3 {
  margin-bottom: 20px;
  color: var(--text-dark);
}

/* Inputs */

.contact-form-box input,
.contact-form-box textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 2px rgba(0,200,83,0.1);
}

/* Button */

.contact-form-box button {
  width: 100%;
  padding: 12px;
  background: var(--primary-green);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.contact-form-box button:hover {
  background: var(--light-green);
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-info {
    padding: 30px;
  }
}